h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat';
    font-weight: 700;
}
body{
    font-family: 'Montserrat';
    text-align: center;
}
p{
    color: #8f8f8f;
}
/*------------------class--------------------*/
/* section */
.colored-section{
    background-color: #ff4c68;
}
.white-section{
    background-color: #fff;
}
/* title section */
#title{
    text-align: left;
}
.title-text{
    font-size: 2.5rem; 
    line-height: 1.5;
    color: #fff;
}
/* Navigation bar */
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-weight:400;
}
/* buttons */
.download-button{
    margin: 5% 2% 0 2%;
}
 /* Title image */
.iphone{
    width: 25%;
    transform: rotate(25deg);
    position: absolute;
}
#title .container-fluid{
    padding: 3% 15% 10%;
}

 /* features-text */
#features{
    position: relative;
    z-index: 1;
}
#features .container{
    padding: 10%;
}

.container h3{
    font-size: 1.2rem;
    font-weight: bold;
}
.container .btn{
    color: pink;
}
/* ---------icon---------- */
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
    /*      testimonials     */
#testimonials{
    background-color: #ef8172;
    color: #fff;
}
.carousel-item{
    padding: 7% 15%;
}
.testimonial-text{
    font-size: 2.2rem;
    line-height: 1.5;
}
.testimonials-img{
    width: 10%;
    border-radius: 100%;
    margin-bottom: 10%;
    margin-right: 20px;
}
/* press section  */
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
#press img{
    width: 15%;
    margin: 50px 20px 50px;
}

/* --------------pricing section-------------- */
#pricing{
    padding: 5%;
}
.pricing-column{
    padding: 3% 2%;
}
.pricing-text{
    font-size: 2.2rem;
    line-height: 1.5;
}
@media (max-width:1000px){
.iphone{
    width: 60%;
    margin-top: 20px;
    position: static;
    transform: rotate(0);
}
#title{
    text-align: center;
}
}
/* cta section */
.cta-container{
    padding: 5% 10% 10%;
}
/* footer section */
#footer{
    margin: 100px 0 200px;
}
.footer-icon{
    padding: 0 10px 20px;
}




